p Welcome to World-Wide-WAR ('n' to select next tank. 'a' or 'd' to move selected tank)

script(src='js/init.js', type='text/javascript')
script(src='js/startGameScene.js', type='text/javascript')
script(src='js/gameScene.js', type='text/javascript')
script(src='js/mapActor.js', type='text/javascript')
script(src='js/tankActor.js', type='text/javascript')

script(src='js/startup.js', type='text/javascript')
